body {
  font-family: sans-serif;
}

.item {
  float: left;
  border: 1px solid black;
  margin: 15px;
  width: 66px;
  height: 100px;
}

.container {
  border: 5px solid cadetblue;
  height: 130px;
}
